:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: var(--white);
  min-height: 100vh;
  background-color: var(--white);
  font-size: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-one {
  height: 100vh;
  background-image: url(/images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 5rem 9rem;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}

.vr-gallery {
  display: flex;
  padding: 9rem 9rem;
}

.picture-gallery {
  display: flex;
  padding: 2rem 9rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-box {
  flex: 0 0 auto;
}

.navbar {
  display: flex;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
.navbar__item {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: flex-start;
  margin-top: 11%;
  animation: moveInLeft 1s ease-out;
}
.hero__textbox {
  padding: 3rem;
  border: 2px solid var(--white);
  width: 58%;
}
.hero__text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.gallery-image__item {
  margin-right: -17rem;
}

.gallery-text {
  padding-top: 10rem;
  padding-left: 10rem;
  padding-bottom: 0.2rem;
  position: relative;
  z-index: 10;
  background-color: var(--white);
  align-self: flex-end;
  width: 50%;
}
.gallery-text__large {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.5rem;
  color: var(--black);
}
.gallery-text__small {
  margin-top: 2.5rem;
  font-size: 1.45rem;
  color: var(--dark-gray);
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

.creations {
  display: flex;
  justify-content: space-between;
  padding: 4rem 9rem;
  align-items: center;
}
.creations > * {
  text-transform: uppercase;
}
.creations__heading {
  color: var(--black);
  font-weight: 300;
  font-size: 4rem;
  display: flex;
  padding-top: 1rem;
}
.creations__button {
  padding: 1rem 4rem;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  border: 1px solid var(--black);
  background-color: transparent;
  display: flex;
  align-self: center;
  letter-spacing: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}
.creations__button:hover {
  background-color: var(--black);
  color: var(--white);
}

.picture-gallery__div {
  position: relative;
}
.picture-gallery__text {
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-40%, 60%);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
}
.picture-gallery__text--grid-text {
  width: 40%;
}
.picture-gallery__image {
  cursor: pointer;
}
.picture-gallery__image:hover {
  filter: opacity(0.4);
}

/*# sourceMappingURL=style.css.map */
