:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 81.25%;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: var(--white);
  min-height: 100vh;
  background-color: var(--white);
  font-size: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-one {
  height: 100vh;
  background-image: url(/images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 5rem 9rem;
  position: relative;
}
@media only screen and (min-width: 112.5em) {
  .section-one {
    padding: 8rem 17rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.vr-gallery {
  display: flex;
  padding: 9rem 9rem;
  justify-content: flex-start;
}
@media only screen and (min-width: 112.5em) {
  .vr-gallery {
    padding: 14rem 17rem;
  }
}

.picture-gallery {
  display: flex;
  padding: 0 9rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 112.5em) {
  .picture-gallery {
    padding: 3rem 24rem;
  }
}

.logo-box {
  flex: 0 0 auto;
  cursor: pointer;
}

.navbar {
  display: flex;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.navbar__item {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1.5px;
  bottom: 0;
  background-color: var(--white);
  transition: width 0.3s ease;
}
.navbar__item:hover::after {
  width: 50%;
}

.hero {
  display: flex;
  justify-content: flex-start;
  margin-top: 11%;
  animation: moveInLeft 1s ease-out;
}
@media only screen and (min-width: 112.5em) {
  .hero {
    margin-top: 13%;
  }
}
.hero__textbox {
  padding: 3rem;
  border: 2px solid var(--white);
  width: 58%;
}
.hero__text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 7rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.gallery-image__item {
  margin-right: -17rem;
}

.gallery-text {
  padding-top: 10rem;
  padding-left: 10rem;
  padding-bottom: 0.2rem;
  position: relative;
  z-index: 10;
  background-color: var(--white);
  align-self: flex-end;
  width: 50%;
}
@media only screen and (min-width: 112.5em) {
  .gallery-text {
    padding-top: 7rem;
    padding-left: 7rem;
  }
}
.gallery-text__large {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4.5rem;
  color: var(--black);
}
@media only screen and (min-width: 112.5em) {
  .gallery-text__large {
    font-size: 5rem;
  }
}
.gallery-text__small {
  margin-top: 2.5rem;
  font-size: 1.45rem;
  color: var(--dark-gray);
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
@media only screen and (min-width: 112.5em) {
  .gallery-text__small {
    font-size: 1.65rem;
  }
}

.creations {
  display: flex;
  justify-content: space-between;
  padding: 4rem 9rem;
  align-items: center;
}
@media only screen and (min-width: 112.5em) {
  .creations {
    padding: 2rem 17rem;
  }
}
.creations > * {
  text-transform: uppercase;
}
.creations__heading {
  color: var(--black);
  font-weight: 300;
  font-size: 4rem;
  display: flex;
  padding-top: 1rem;
}
.creations__button {
  padding: 1rem 4rem;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  border: 1.5px solid var(--black);
  background-color: transparent;
  display: flex;
  align-self: center;
  letter-spacing: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
}
.creations__button:hover {
  background-color: var(--black);
  color: var(--white);
}

.picture-gallery__div {
  position: relative;
}
@media only screen and (min-width: 112.5em) {
  .picture-gallery__div {
    width: 23%;
  }
}
.picture-gallery__text {
  position: absolute;
  top: 65%;
  left: 40%;
  transform: translate(-40%, 60%);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
  transition: color 0.3s ease;
  cursor: pointer;
}
@media only screen and (min-width: 112.5em) {
  .picture-gallery__text {
    top: 40%;
    left: 30%;
    width: 60%;
  }
}
.picture-gallery__text--grid-text {
  width: 40%;
}
.picture-gallery__image {
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-top: 1.5rem;
}
.picture-gallery__div:hover .picture-gallery__image {
  opacity: 0.4;
}
.picture-gallery__div:hover .picture-gallery__text {
  color: var(--black);
}

.footer {
  background-color: var(--black);
  margin-top: 10rem;
  padding: 5rem 9rem;
}
.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.logo-icon--footer {
  margin: 0.5rem;
  padding: 0.7rem 0;
  cursor: pointer;
  border-bottom: 1.5px solid transparent;
  transition: border-color 0.3s ease;
}
.logo-icon--footer:hover {
  border-color: var(--white);
}

.navbar__item--footer {
  padding: 0.7rem 0;
}

/*# sourceMappingURL=style.css.map */
