:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}


$bp-massive: 103em;  // 1800px
$bp-large: 91em;   // 1458px
$bp-big: 78em;  // 1250px
$bp-big-tab: 71em;  // 1138px: 
$bp-tab: 58.3em;  // 933px
$bp-mid-tab: 46.4em; // 742px
$bp-small: 33em;  // 530px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-big) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-big-tab) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 37.5%;
    }

    @media only screen and (min-width: $bp-large) {
        font-size: 68.75%;
    }

    @media only screen and (min-width: $bp-massive) {
        font-size: 81.25%;
    }
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: var(--white);
    min-height: 100vh;
    background-color: var(--white);
    font-size: 1.5rem;

    background-repeat: no-repeat;
    box-sizing: border-box;
}


::selection {
    background-color: var(--black);
    color: var(--white);
}