///////////////////////////////////////
// LOGO

.logo-box {
    flex: 0 0 auto;
}

///////////////////////////////////////
// NAVBAR

.navbar {
    display: flex;

    &__item {
        margin-right: 2rem;
        display: flex;
        align-items: center;
    }
}

///////////////////////////////////////
// HERO TEXT

.hero {
    display: flex;
    justify-content: flex-start;
    margin-top: 12%;
    animation: moveInLeft 1s ease-out;

    &__textbox {
        padding: 3rem;
        border: 2px solid var(--white);
        width: 58%;
    }

    &__text {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 7rem;
    }

}

///////////////////////////////////////
// HERO ANIMATION

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.gallery-image {
    &__item {
        margin-right: -17rem;
    }
}

///////////////////////////////////////
// VR GALLERY TEXT
.gallery-text {
    color: var(--black);
    padding-top: 7.5rem;
    padding-left: 7.5rem;
    position: relative;
    z-index: 10;
    background-color: var(--white);
    align-self: flex-end;
    width: 60%;

    &__large {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4rem;
    }

    &__small {
        margin-top: 2.5rem;
        font-size: 1.5rem;
    }
}
