///////////////////////////////////////
// LOGO

.logo-box {
    flex: 0 0 auto;
    cursor: pointer;
}

///////////////////////////////////////
// NAVBAR

.navbar {
    display: flex;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    cursor: pointer;

    &__item {
        margin-right: 2rem;
        display: flex;
        align-items: center;
        transition: border-bottom .2s;
        backface-visibility: hidden;

        &:hover {
            border-bottom: 1px solid var(--white);
        }
    }
}

///////////////////////////////////////
// HERO TEXT

.hero {
    display: flex;
    justify-content: flex-start;
    margin-top: 11%;
    animation: moveInLeft 1s ease-out;

    &__textbox {
        padding: 3rem;
        border: 2px solid var(--white);
        width: 58%;
    }

    &__text {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 7rem;
    }

}

///////////////////////////////////////
// HERO ANIMATION

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.gallery-image {
    &__item {
        margin-right: -17rem;
    }
}

///////////////////////////////////////
// VR GALLERY TEXT
.gallery-text {
    padding-top: 10rem;
    padding-left: 10rem;
    padding-bottom: .2rem;
    position: relative;
    z-index: 10;
    background-color: var(--white);
    align-self: flex-end;
    width: 50%;

    &__large {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4.5rem;
        color: var(--black);
    }

    &__small {
        margin-top: 2.5rem;
        font-size: 1.45rem;
        color: var(--dark-gray);
        font-family: 'Alata', sans-serif;
        font-weight: 400;
    }
}

///////////////////////////////////////
// CREATIONS SECTION PLUS CHILDREN

.creations {

    display: flex;
    justify-content: space-between;
    padding: 4rem 9rem;
    align-items: center;

    & > * {
        text-transform: uppercase;
    }

    &__heading {
        color: var(--black);
        font-weight: 300;
        font-size: 4rem;
        display: flex;
        padding-top: 1rem;
    }

    &__button {
        padding: 1rem 4rem;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        border: 1px solid var(--black);
        background-color: transparent;
        display: flex;
        align-self: center;
        letter-spacing: .4rem;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }

}

///////////////////////////////////////
// PICTURE GALLERY 

.picture-gallery {

    &__div {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 65%; 
        left: 40%;
        transform: translate(-40%, 60%);
        font-size: 3rem;
        text-transform: uppercase;
        text-align: left;
        transition: color 0.3s ease;
        cursor: pointer;

        &--grid-text {
            width: 40%;
        }
    }

    &__image {
        cursor: pointer;
        transition: opacity 0.3s ease;
        margin-top: 1.5rem;
    }

    &__div:hover &__image {
        opacity: 0.4;
    }

    &__div:hover &__text {
        color: var(--black);
    }

}


///////////////////////////////////////
// PICTURE GALLERY 
.footer {
    background-color: var(--black);
    margin-top: 10rem;
    padding: 5rem 9rem;

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        align-self: stretch;
    }
}

.logo-icon--footer {
    margin: .5rem;
}