
.section-one {
    height: 100vh;
    background-image: url(/images/desktop/image-hero.jpg);

    background-size: cover;
    background-position: top;
    padding: 5rem 9rem;
    position: relative;

    @media only screen and (max-width: $bp-big) {
        padding: 4rem 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        background-image: url(/images/mobile/image-hero-m.jpg);
        padding: 4rem 4rem;
    }

    @media only screen and (min-width: $bp-large) {
        padding: 7rem 15rem;
    }

    @media only screen and (min-width: $bp-massive) {
        padding: 8rem 17rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.vr-gallery {
    display: flex;
    padding: 9rem 9rem;
    justify-content: flex-start;

    @media only screen and (max-width: $bp-big) {
        padding: 8rem 5rem;
    }

    @media only screen and (max-width: $bp-tab) {
        flex-direction: column;
        align-items: center;
        padding: 4rem 0;
        padding-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
        padding: 10rem 4rem;
    }

    @media only screen and (min-width: $bp-large) {
        padding: 12rem 15rem;
    }

    @media only screen and (min-width: $bp-massive) {
        padding: 14rem 17rem;
    }
}

.picture-gallery {
    display: flex;
    padding: 0 9rem;
    flex-wrap: wrap;

    justify-content: space-between;

    @media only screen and (max-width: $bp-big) {
        padding: 3rem 5rem;
    }

    @media only screen and (max-width: $bp-tab) {
        justify-content: space-around;
        padding: 2rem 0;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 3rem 0;
        flex-direction: column;
    }

    @media only screen and (min-width: $bp-large) {
        padding: 3rem 17rem;
    }

    @media only screen and (min-width: $bp-massive) {
        padding: 3rem 24rem;
    }
}
