.section-one {
    height: 100vh;
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: top;
    padding: 5rem 9rem;
    position: relative;

    @media only screen and (min-width: $bp-large) {
        padding: 7rem 15rem;
    }

    @media only screen and (min-width: $bp-massive) {
        padding: 8rem 17rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.vr-gallery {
    display: flex;
    padding: 9rem 9rem;
    justify-content: flex-start;

    @media only screen and (min-width: $bp-large) {
        padding: 12rem 15rem;
    }

    @media only screen and (min-width: $bp-massive) {
        padding: 14rem 17rem;
    }
}

.picture-gallery {
    display: flex;
    padding: 0 9rem;
    flex-wrap: wrap;

    justify-content: space-between;

    @media only screen and (min-width: $bp-large) {
        padding: 3rem 17rem;
    }

    @media only screen and (min-width: $bp-massive) {
        padding: 3rem 24rem;
    }
}
